<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../js/vue.min.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/properties.js"></script>
		<script src="../js/mui.picker.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
		
		<link href="../css/mui.min.css" rel="stylesheet">
		<link href="../css/mui.picker.css" rel="stylesheet" />
		<link href="../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet"/>
		<style>
			html,body {
				background-color: white;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background: #F20037; ">
			<a  class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white">注册</h1>
		</header>
		<div id="app" style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 60px;">
			<div style="width: 95%; height: 100%;">
				<input type="number" placeholder="手机号" v-model="phone" style="border: 1px solid gray !important;"/>
				<input type="password" placeholder="密码" v-model="password" style="border: 1px solid gray !important;"/>
				<input type="password" placeholder="密码确认" v-model="passwordAgain" style="border: 1px solid gray !important;"/>
				
				<input type="text" placeholder="姓名" v-model="name" style="border: 1px solid gray !important;"/>
				
				<input id="sexPicker" readonly="readonly" type="text" placeholder="性别" v-model="sex.text" style="border: 1px solid gray !important;"/>
				<input id="birthdayPicker" readonly="readonly" type="text" placeholder="出生日期" v-model="birthday" style="border: 1px solid gray !important;"/>
				<input id="cityPicker" readonly="readonly" type="text" placeholder="所在地区" v-model="region.text" style="border: 1px solid gray !important;"/>
				<input id="industryPicker" readonly="readonly" type="text" placeholder="所在行业" v-model="industry.text" style="border: 1px solid gray !important;"/>
				
				<input v-on:click="register()" type="button" value="注 册" 
				style="background: #F20037; width: 100%; color: white; padding: 10px 0; font-size: 18px; border-radius: 18px; margin-top: 30px; "/>
			</div>
		</div>
	</body>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				phone: "",
				password: "",
				passwordAgain: "",
				name: "",
				region: {
					"text": "",
					"province": "",
					"city": "",
					"district": ""
				},
				sex: {
					"text": "",
					"val": ""
				},
				birthday: "",
				industryList: [],
				industry: {
					"text": "",
					"val": ""
				}
			},
			methods: {
				getIndustryList: function() {
					var that = this;
					axios({
						method: "POST",
						url: server + "/industry/getIndustryList",
						data: {},
						headers: {
							"Content-Type": "application/json",
							"token": localStorage.getItem("token")
						}
					}).then(function(res) {
						app.industryList = res.data.data;
						for(var i = 0; i < app.industryList.length; ++i) {
							that.$set(app.industryList[i], "text", app.industryList[i].name);
							for(var j = 0; j < app.industryList[i].secondIndustryViewList.length; ++j) {
								that.$set(app.industryList[i].secondIndustryViewList[j], "text", app.industryList[i].secondIndustryViewList[j].name);
							}
							that.$set(app.industryList[i], "children", app.industryList[i].secondIndustryViewList);
						}
						
						var industryPicker = new mui.PopPicker({layer: 2}); 
						industryPicker.setData(app.industryList); 
						var showIndustryPickerButton = document.getElementById("industryPicker");
						showIndustryPickerButton.addEventListener('tap', function(event) {
							industryPicker.show(function(items) {
								app.industry = items[1];
							});
						}, false);
					});
				},
				register: function() {
					if(app.phone == '') {
						mui.alert("手机号必填");
						return;
					}
					if(app.password == '') {
						mui.alert("密码必填");
						return;
					}
					if(app.password.length < 6) {
						mui.alert("密码长度要大于6");
						return;
					}
					if(app.passwordAgain == '') {
						mui.alert("确认密码必填");
						return;
					}
					if(app.password != app.passwordAgain) {
						mui.alert("两次密码不一样");
						return;
					}
					if(app.name == '') {
						mui.alert("姓名必填");
						return;
					}
					if(app.sex.text == '') {
						mui.alert("性别必填");
						return;
					}
					if(app.birthday == '') {
						mui.alert("出生日期必填");
						return;
					}
					if(app.region.text == '') {
						mui.alert("地区必填");
						return;
					}
					if(app.industry.text == '') {
						mui.alert("行业必填");
						return;
					}
					plus.nativeUI.showWaiting("注册中...");
					axios({
						method: "POST",
						url: server + "/user/register",
						data: {
							"name": app.name,
							"phone": app.phone,
							"password": app.password,
							"sex": app.sex.val,
							"province": app.region.province,
							"city": app.region.city,
							"district": app.region.district,
							"birthday": app.birthday,
							"secondIndustryId": app.industry.id
						},
						headers: {
							"Content-Type": "application/json",
							"token": localStorage.getItem("token")
						}
					}).then(function(res) {
						plus.nativeUI.closeWaiting();
						if(res.data.success) {
							mui.toast("注册成功！")
						} else {
							mui.toast(res.data.msg);
						}
						var thisWb = plus.webview.currentWebview();
						var tnavBack = thisWb.opener();
						//A页面执行abc事件
						mui.fire(tnavBack, "registerSuccess", {}); 
						thisWb.close();
					});
				}
			}
		});
		mui.init({
			keyEventBind: {
				backbutton: true //开启back按键监听
			}
		});
		
		mui.plusReady(function() {
			app.getIndustryList();
			
			var cityPicker3 = new mui.PopPicker({
				layer: 3
			});
			cityPicker3.setData(cityData3);
			var showCityPickerButton = document.getElementById('cityPicker');
			showCityPickerButton.addEventListener('tap', function(event) {
				cityPicker3.show(function(items) {
					app.region.text = items[0].text + ' ' + items[1].text + ' ' + items[2].text;
					app.region.province = items[0].text;
					app.region.city = items[1].text;
					app.region.district = items[2].text;
				});
			}, false);
			
			var sexPicker = new mui.PopPicker(); 
			sexPicker.setData([{val: 1, text: "男"}, {val: 2, text: "女"}]); 
			var showSexPickerButton = document.getElementById('sexPicker');
			showSexPickerButton.addEventListener('tap', function(event) {
				sexPicker.show(function(items) {
					app.sex = items[0];
				});
			}, false);
			
			var birthdayPicker = new mui.DtPicker({type: "date"}); 
			var showBirthdayPickerButton = document.getElementById('birthdayPicker');
			showBirthdayPickerButton.addEventListener('tap', function(event) {
				birthdayPicker.show(function(items) {
					app.birthday = items.y.text + "-" + items.m.text + "-" + items.d.text;
				});
			}, false);
			
			
			
			
		});
		
	</script>
</html>